[package]
name = "{{project-name}}"
version = "0.1.0"
edition = "2024"

[profile.release]
lto = true
opt-level = 3
codegen-units = 1
incremental = false
debug = false

[lib]
crate-type = ["cdylib"]

[dependencies]
wit-bindgen = "0.52.0"
